
.icon-logiclogic:before { content: '\e800'; } /* '' */
.icon-logicmiro_loops:before { content: '\e801'; } /* '' */
.icon-logicmiro_math:before { content: '\e802'; } /* '' */
.icon-logicmiro_lists:before { content: '\e803'; } /* '' */
.icon-logicmiro_variables:before { content: '\e804'; } /* '' */
.icon-logicmiro_functions:before { content: '\e805'; } /* '' */
.icon-logicmiro_code:before { content: '\e806'; } /* '' */
.icon-logicmiro_control:before { content: '\e807'; } /* '' */
.icon-logicmiro_setup:before { content: '\e808'; } /* '' */
.icon-logicmiro_motion:before { content: '\e809'; } /* '' */
.icon-logicmiro_sensors:before { content: '\e80a'; } /* '' */
.icon-logicmiro_utility:before { content: '\e80b'; } /* '' */